    	p.download {
            color: red;
            background:url("../Resources/download32.webp") no-repeat scroll left center transparent;
            padding-left: 3em;
            padding-top: 0.7em;
            margin-left: 1em;
            vertical-align: center;
            min-height:32px; font-weight: bold;
        }
