    	p.epigraph {
            background: no-repeat; background-color: #E8E8E8; padding: 0.2em;
            padding-left: 2em;
    	    padding-right: 0.6em;
    	    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' font-family='sans-serif' version='1.1'><text x='-2' y='47' fill='green' font-size='4em'>“</text></svg>");
    	}
        p.epigraph > em { font-style: italic; }
        p.epigraph > strong { padding-left: 3em; font-weight: normal; }